.login-page{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-size: 100%;
  &-btn{
    position: fixed !important;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%,0%);
    background-color: #686A00 !important;
  }
}