.login-page{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-size: 100%;
  &-btn{
    background-color: #686A00;
    color: white;
    border-radius: 18px;
    padding: 10px 30px;
  }
  &-img{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    background-size: 100% 100%;
    transition: 3s all;
    animation: donghuaImg 1s ease .5s 1 forwards;
    opacity: 0;
  }
}
.login-bg{
  background-image: url(https://res.youcon.com.cn/static/yixi/1.png);
  background-color: #F5EFD9;
}
.login-bg1{
  background-image: url(https://res.youcon.com.cn/static/yixi/login-bg1.png);
  background-color: #F5EFD9;
}
@keyframes donghuaImg{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}



.statement{
  font-size: 24rpx;
  position: fixed;
  bottom: 15%;
  left: 50%;
  width: 100%;
  transform: translate(-50%,0%);
  &-check{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #878E34;
    margin: 20px 0px;
  }
}